body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}


h1 {
  font-weight: bold;
  text-decoration: underline;
  border: 2px solid DarkOrange;
  padding: 10px;
  text-align: center;
}

.dynamic {
  display: none;
}

section {
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 10px;
  padding: 10px;
}
